# .NET
**/bin/
**/obj/
.vs/
*.user
*.suo

# Node / React
**/node_modules/
**/dist/

# Environment / secrets
.env
.env.*
!.env.example

# Local development settings
**/appsettings.Development.json

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
Thumbs.db
.DS_Store

*.tmp
*.Backup.*